# APP
NODE_ENV=development
PORT=3000

# DATABASE
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=audioverse
DATABASE_PASSWORD=audioverse_password
DATABASE_NAME=audioverse_db
DATABASE_URL=postgresql://audioverse:audioverse_password@localhost:5432/audioverse_db

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d

# PGADMIN (optional reference only)
PGADMIN_EMAIL=admin@audioverse.com
PGADMIN_PASSWORD=admin123