# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
.env
.env.local

# Logs
*.log

# pnpm
.pnpm-store/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
build/

# Android
android/.gradle/
android/app/build/

# IDE
.vscode/
.idea/

# Coverage
coverage/